.skills-section{
    margin-top: 2rem;
}

.skills-content{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2rem;
}

@media screen and (max-width: 900px){

    .skills-section{
        margin-top: 0;
        padding: 1rem;
    }

    .skills-content{
        margin-top: 1.5rem;
        grid-template-columns: auto auto auto;
        grid-gap: 1rem 2rem;
    }

}

@media screen and (max-width: 767px){

    .skills-section{
        margin: 0;
        padding: 1rem;
    }

    .skills-content{
        margin-top: 1rem;
        grid-template-columns: auto auto;
        grid-gap: 0.5rem;
    }

}