.experience-section{
    margin-top: 2rem;
}

.experience-content {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
    padding-left: 1rem;
}

@media screen and (max-width: 900px){

    .experience-section{
        margin-top: 0;
        padding: 1rem;
    }

    .experience-content {
        font-size: 1.4rem;
        padding: 0;
    }

}

@media screen and (max-width: 767px){

    .experience-section{
        margin: 0;
        padding: 1rem;
    }

    .experience-content {
        font-size: 1rem;
        padding: 0;
    }

}